@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');

:root {
  /* Primary Colors */
  --clr-primary-grayish-blue: 237, 18%, 59%;
  --clr-primary-soft-red: 345, 95%, 68%;
  --clr-bg: 280, 35%, 8%;

  /* Neutral colors */

  --clr-neutral-desaturated-blue: 236, 21%, 26%;
  --clr-neutral-dark-blue: 235, 16%, 14%;
  --clr-neutral-dark-blue-black: 234, 17%, 12%;
  --clr-white: 0, 0%, 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.85rem;
  --fs-100: 0.8rem;

  /* font-families */
  --ff-default: 'Red Hat Text', sans-serif;
}

/* Custom properties */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-default);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--clr-bg));
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

button {
  cursor: pointer;
}

img,
picture {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  appearance: none;
  border: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom properties */

/* Reused styles start*/

.container {
  max-width: 100rem;
  margin-inline: auto;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.none {
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.smooth {
  scroll-behavior: smooth;
}

.w-100 {
  width: 100%;
}

::selection {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-primary-soft-red));
}
